@model ThisBuy.Dal.Entities.Comment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
</head>
<body>
    <div>
        <h4>Comment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Product.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
